<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<StackLayout>

    <Label style="font-size: 20em;" [text]="count$|async"></Label>
    <Button (tap)="onClick()" text="Incrementar"></Button>
</StackLayout>
<!-- <page-router-outlet></page-router-outlet> -->
